<mat-card class="login-form-card">
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" placeholder="Digite o username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Digite a senha" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Entrar</button>
      <button mat-raised-button color="primary" type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</mat-card>
